@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.d-display {
  float: right;
}
.dl-menuwrapper {
  z-index: 0 !important;
}
.btn-account {
  background-color: #d1004b;
  color: whitesmoke;
  font-weight: bolder;
  padding-right: 12px;
}
.account-b a {
  width: 180px;
  font-weight: bolder;
}
.account-b a {
  width: 180px;
  font-weight: bolder;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}
.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 30px;
  text-align: center;
}
.stacks_out {
  position: relative;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.stacks1 {
  background-color: rgba(0, 167, 126, 1);
  padding: 12px;
  margin: 12px;
}
.stacks2 {
  background-color: rgba(247, 113, 125, 1);
  padding: 12px;
  margin: 12px;
}
.stacks3 {
  background-color: rgba(59, 89, 152, 1);
  padding: 12px;
  margin: 12px;
}
.stacks4 {
  background-color: rgba(64, 153, 255, 1);
  padding: 12px;
  margin: 12px;
}
.stacks5 {
  background-color: rgba(237, 161, 33, 1) !important;
  padding: 12px;
  margin: 12px;
}
.stacks6 {
  background-color: rgba(0, 132, 191, 1);
  padding: 12px;
  margin: 12px;
}
.stacks a {
  font-size: 16px;
  padding: 19px;
  color: whitesmoke;
  text-decoration: none;
}
.background-info {
  background-color: rgba(0, 70, 87, 1);
  padding-bottom: 30px;
}
.background-info1 {
  background-color: #384655;
}
.twitter-area a {
}
.wf-container12 {
  max-width: 800px;
  margin: auto;
}
.text-clr a {
  color: whitesmoke;
}
.text-clr {
}

.text-clr h4 {
  background-color: #d1004b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #ffffff !important;
}
.text-al-center {
  text-justify: center;
}
.quotes {
  position: relative;
  min-height: 300px;
  background: #02688d url(../images/quote-Bg.jpg) repeat;
  padding: 100px 0;
}
.quotes {
  margin-bottom: 50px;
}
.quotes1 {
  position: relative;
  /* min-height: 400px; */
  background: #02688d url(../images/quote-Bg.jpg) repeat;
  padding: 0px 0;
  border: 1px solid red;
}
.quotes1 {
  margin-bottom: 10px;
}
.logoScroll {
  text-align: center;
  margin-bottom: 50px;
}
.col-all-12 {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  float: left;
}
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
.head-img {
  width: 400px;
  margin-top: 80px;
  /* border: 1px solid red; */
}
.box-area1 {
  margin: 22px 22px;
  background-color: #fff;
  border-radius: 5px;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------logo-sroll----------------- */
/* Logo Slider */

.logo-slider {
  background: white;
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo-slider::before,
.logo-slider::after {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(white),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 175px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite;
  animation: logo-scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
  height: 150px;
  width: 250px;
  padding: 20px;
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.logo-sroller {
  /* position: absolute !important; */
}
/* -------------logo-sroll-end----------------- */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: url(""); */
  background-image: url("../images/banner-3.jpg !important");
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; */
}
#wrapper {
  margin: 0 auto;
  width: 100%;
}
.associates-text {
  font-weight: 900 !important;
}
.borderUnder {
  border-bottom: 5px solid #d1004b;
  width: 20%;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 2px;
}
header {
  height: 230px;
  width: 100%;
  /* overflow: hidden; */
  background: white url("../images/banner-contact1.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */

  line-height: 2.8em;
}
.resoures {
  height: 230px;
  width: 100%;
  /* overflow: hidden; */
  background: #f1f1f1 url("../images/resouces.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */

  line-height: 2.8em;
}
.emax {
  height: 230px;
  width: 100%;
  /* overflow: hidden; */
  background: #f1f1f1 url("../images/banner1.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */

  line-height: 2.8em;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.denture {
  height: 230px;
  width: 100%;
  /* overflow: hidden; */
  background: #f1f1f1 url("../images/denture-banner.jpg") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */

  line-height: 2.8em;
}
.whatwedo {
  height: 230px;
  width: 100%;
  /* overflow: hidden; */
  background: #f1f1f1 url("../images/") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */

  line-height: 2.8em;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content1 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
strong {
  color: rgb(216, 6, 76);

  /* border: 2px solid red; */
}
h1 {
  /* margin-top: 2em; */

  font-family: Arial, San-serif;
  font-size: 70px;
  text-align: center;
  color: rgb(216, 6, 76);
  /* width: 100%; */
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* body { margin: 0; }  */
div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
.topbar {
  background-color: #d1004b;
}
.icons a {
  color: whitesmoke;
}
.number h3 {
  color: whitesmoke;
}
.number i {
  color: whitesmoke;
}
.number {
  float: right;
  padding-top: 0px;
}
@media only screen and (max-width: 768px) {
  .d-display {
    width: 122px;
    float: none;
    margin: auto;
    margin-bottom: 12px;
    /* border: 4px solid green; */
  }
  .background-info .social-icons {
    margin-bottom: 22px !important;
  }
  .head-img {
    width: 70%;
  }
  .box-area1 h1 {
    font-size: 23px !important;
    /* border: 1px solid red; */
    margin: 2px;
  }
  .box-area1 p {
    margin: 12px;
  }
  .background-info12 {
    /* background: red; */
    padding: 23px;
  }

  .margin-bottom {
    padding-bottom: 32px;
  }
  .number i {
    font-size: 20px;
  }
  .number h3 {
    font-size: 17px;
    padding: px;
  }
}
